/* Landing */

.landing{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw 0 10vw;
	height: 80vh;
}

.landingText h1{
	font-size: 6vw;
	margin: 0 !important;
}

.landingText h2{
	font-size: 5vw;
	margin: 0 !important;
}

.landingText h3{
	margin: 6px !important;
	font-size: 20px;
	opacity: 0.3;
	line-height: 30px;
}

.landingText .btn a{
	font-size: 1.2vw;
	color: #fff;
}

.landingImage img{
	width: 28vw;
}